server:
  port: 8080

spring:
  liquibase:
    change-log: classpath:changelog/changelog.xml
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  profiles:
    active: ${ENVIRONMENT}

rsa:
  public-key: classpath:certs/public.pem
  private-key: classpath:certs/private.pem
