spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://rc1d-u65z2n58k5x48jw0.mdb.yandexcloud.net:6432/chomik-orders
    username: chomik
    password: ${DB_PASSWORD}

expired:
  reservation:
    job:
      lock:
        timeout: 60
      cron: 0 0/1 * ? * * *

chomik:
  storage:
    url: http://chomik-storage-balancer:80
